<ion-header>
  <ion-toolbar>
      <ion-text><h5><strong>REPORTES</strong></h5></ion-text>
      <ion-buttons slot="start">
          <ion-button (click)="openmenu()">
              <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-md>
      <ion-card>
        <ion-title class="ion-text-center">
          <ion-card-title>
            <strong>Informacion de Pestañas</strong>
          </ion-card-title>
        </ion-title>
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="body-outline"></ion-icon> 
            <strong>Uso de Servicios</strong>
          </ion-card-title>
          <ion-card-subtitle>
            Comparativa de las entradas y salidas de los residentes, con la reserva de los servicios(Gimnasio, Piscina y Centro de Recreacion).
          </ion-card-subtitle>
          <ion-card-title>
            <ion-icon name="enter-outline"></ion-icon> 
            <strong>Entradas y Salidas</strong>
          </ion-card-title>
          <ion-card-subtitle>
            Entradas y Salidas en los residentes e invitados, desde la puerta principal, parqueadero y servicios(solamente residentes).
          </ion-card-subtitle>
          <ion-card-title>
            <ion-icon name="warning-outline"></ion-icon> 
            <strong>Alertas</strong>
          </ion-card-title>
          <ion-card-subtitle>
            Alertas sobre errores o fallos al llenar, crear o llamar algun dato generados en la aplicacion.
          </ion-card-subtitle>
          <ion-card-title>
            <ion-icon name="cash-outline"></ion-icon> 
            <strong>Pagos</strong>
          </ion-card-title>
          <ion-card-subtitle>
            Registro de todos los pagos que se realizaron y si fueron pagados de manera puntual o no.
          </ion-card-subtitle>
          <ion-card-title>
            <ion-icon name="pencil-outline"></ion-icon> 
            <strong>Reservas</strong>
          </ion-card-title>
          <ion-card-subtitle>
            Seguimiento de las reservas hechas por los residentes en cada uno de los servicios(Gimnasio, Piscina y Centro de Recreacion).
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="comparativa">
        <ion-icon name="body-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="entrasali">
        <ion-icon name="enter-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="alertas">
        <ion-icon name="warning-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="pagos">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="reservas">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>


