.image{
    padding: 10px;
    border: 0px solid #e9ecef;
    width: 100%;
    border-radius: 20px;
    margin: auto;
}
ion-content{
  --background: url("/assets/img/marca_de_agua.png") 0 0/100% 100% no-repeat !important;
}