ion-avatar {
    margin: auto; 
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-content{
    --background: url("/assets/img/marca_de_agua.png") 0 0/100% 100% no-repeat !important;
}