<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row *ngFor="let nuevos of repagos">
        <ion-col size="12" size-md>
            <ion-card>
                <div style="margin: 10px   10px;">
                    <ion-text *ngIf="nuevos.estado == true"><h6><strong>Estado de Pago: </strong>
                        <h6 style="color: rgb(40, 160, 46);">Pago Autorizado</h6>
                    </h6></ion-text>
                    <ion-text *ngIf="nuevos.estado == false"><h6><strong>Estado de Pago:</strong>
                        <h6 style="color: rgb(90, 0, 0);">Pago No Autorizado</h6>
                    </h6></ion-text>
                    <ion-text *ngIf="nuevos.estado == false"><h6><strong>Causa de No Atorizo: </strong>{{nuevos.causa}}</h6></ion-text>
                    <ion-text><h6><strong>Pagado por: </strong>{{nuevos.residente}}</h6></ion-text>
                    <ion-text><h6><strong>Numero del Comprobante: </strong>{{nuevos.numcomprob}}</h6></ion-text>
                    <ion-text><h6><strong>Cantidad Abonada: </strong>{{nuevos.canti | currency: '$ '}}</h6></ion-text>
                    <ion-text><h6><strong>Motivo de Pago: </strong>{{nuevos.motiv}}</h6></ion-text>
                    <ion-text><h6><strong>Fecha de Pago: </strong>{{nuevos.fechap}}</h6></ion-text>
                    <ion-text><h6><strong>Hora de Pago: </strong>{{nuevos.horap}}</h6></ion-text>
                </div>
                <ion-toolbar style="margin: 0px   5px;">
                    <ion-text><h6><strong>
                        <div style="margin: 5px;">
                            <ion-icon name="calendar"></ion-icon>{{nuevos.fecha}} 
                        </div> 
                        <div style="margin: 5px;">
                            <ion-icon name="time"></ion-icon>{{nuevos.hora}}
                        </div>
                    </strong></h6></ion-text>
                </ion-toolbar>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>